[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "==1.1.2"
pyyaml = "==5.4"
google-api-python-client = "==1.8.2"
oauth2client = "==3.0.0"
xlrd = "==1.2.0"
prettytable = "*"
gitpython = "==3.1.1"
waitress = "==1.4.3"
httplib2 = "*"
